*{
  box-sizing:border-box;
}

/* Main Styling */
body{
  font-family: "Mukta", sans-serif;
  background: white;
  line-height: 1.5;
  background: ghostwhite;
}
header{
  background-color: #234;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
main{
  padding: 1.25rem 1rem;
}
.container{
  max-width: 300px;
  margin: auto;
}
form{
  background-color: white;
  border-top: 3px solid lightblue;
  width: 100%;
  margin: 10px auto;
  padding-left: 10px;
  padding-right: 10px;
}
fieldset{
  border:0;
  margin-bottom: 10px;
}

h2{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
}

p#double-border{
  text-align: center;
  border-bottom: 5px solid lightblue;
  margin-bottom: 5px;
  padding-bottom: 20px;
  width: 100%
}
legend#newsletter{
  border-top: 3px solid lightblue;
  width: 100%;
}
.text-light{
  font-weight: lighter;
}
footer{
  font-weight: bold;
  text-align: center;
}
legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: 2px solid transparent;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 8px;
  display: flex;
  transition: background-color 0.3s ease;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus{
  background-color: #cff;
  border-color: pink;
}
input.zip{
  width: 50%;
}

input:focus,select:focus,textarea:focus{
  border-color: pink;
}

input[type="checkbox"]:checked + label,input[type="radio"]:checked + label{
  font-weight: bold;
}
input::placeholder{
  text-align: right;
}
#name::placeholder,#email::placeholder{
  color:red;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.contact,.zip-container{
  display: flex;
  flex-direction: column;
}
.newsletter,.format{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
input#html,input#css,input#javascript,input#html_format,input#plaintext{
  margin-right: 5px;
}


/* Media Queries */
@media (min-width: 768px){
  .container{
    max-width: 600px;
    margin:auto;
  }
  .contact,.zip-container{
    display: flex;
    flex-direction: row;
  }
  #zip{
  flex: none;
  width: 25%;
  margin-right: 298px;
  }
  .newsletter,.format{
    display: block;
    flex-direction: row;
  }

  label{
    flex: 1;
    align-content: center;
    margin-bottom: 30px;
  }
  input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        flex: 3;
    }

}
